*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

h3, #form_add{
    text-align: center;
    align-items: center;
}

#add{
    background-color: lightgreen;

}

#delete{
    background-color: lightcoral;
}

#edit{
    background-color: yellow;
}

#myTable{
    border: 1px solid grey;
}

#myTable_wrapper{
    margin-left: 30px;
    margin-right: 30px;
}


#rekord:hover{
    background-color: rgb(202, 196, 196);
}

header{   
    width: 100%;
    box-sizing: border-box;
    /* position: fixed; */
    border: none;
    box-shadow: 0 8px 8px -10px rgba(0,0,0,.15);
    display: block;
    background-color:rgb(216, 214, 214);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

h4{
    text-align: center;
    display: inline-block;
}

a{
    text-decoration: none;
    margin: 20px;
}

#myChart {
    width: 600px;
    height: 600px;
}

.pie{
    display: flex;
    justify-content: center; 
    align-items: center;     
}
