<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>LISTA TO DO</title>
    <!-- do datatables -->
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <!-- JS i jQ -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header>
    </header>
    <h3>Dodaj nowe zadanie</h3>
    <form id="form_add">
        <label for="tytul">Tytuł:</label>
        <input type="text" id="tytul" name="tytul" required>&nbsp;
        <label for="opis">Opis:</label>
        <input type="text" id="opis" name="opis" required><br><br>
        <button type="button" onclick="addTask()" id="add">Dodaj zadanie</button>
    </form>
    <hr>
    <br><br>
    <table id="myTable">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Status</th>
                <th>Data utworzenia</th>
                <th>Operacje</th>
            </tr>
        </thead>    
        <tbody>
            {% for task in tasks %}
            <tr id="rekord">
                <!-- <td>{{ task[0] }}</td> -->
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
                <td>{{ task[3] }}</td>
                <td>{{ task[4] }}</td>
                <td>
                    <button onclick="editTask( '{{ task[0] }}')" id="edit">Edytuj</button>
                    <button onclick="deleteTask('{{ task[0] }}')" id="delete">Usuń</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer></footer>

    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
            "paging": true,  // Paginacja
            "searching": true, // Wyszukiwanie
            "ordering": true  // Sortowanie
            })
        });
    </script>
</body>
</html>