<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>LISTA TO DO - statystyki</title>
</head>
<body>
    <header>
        <div id="nav_panel">
            <h4><a href="/">Strona główna</a></h4>
            <h4><a href="/templates/stats.html">Statystyki</a></h4>
        </div>
    </header>
</body>
</html>